* {
    /* font-family: Arial, Helvetica, sans-serif ; */
    box-sizing: border-box;

}
video{
    height : 300px;
}
nav {
    /* box-shadow: 0 0 0 !important; */
}

body {
    font-family: Arial, Helvetica, sans-serif;

}

.container p:nth-child(2) {
    text-align: center;
    padding: 0px;
    margin: 0px 0 20px 0;
}

h1 {
    padding: 30px 0 0;
    text-align: center;


}

.col-lg-6:nth-child(1) p:nth-child(2) {
    margin-top: 30px;
    
}

.row {
    margin-bottom: 172px;
    height: max-content;
}

img {
    /* border-radius: 20px; */
    height: 350px;
}
p{
    text-align: left !important;
}
.gmy {
    width: 50px;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    background-color: #000;
    padding: 50px;
    color: #fff;
}
footer div {
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    
}
button i {
    margin: 0 10px;
}
footer div i {
    cursor: pointer;
    transition-duration: 0.5s;
    margin: 0 10px;

}
.fa-facebook-f:hover{
    color: #2d88ff;
}
.fa-twitter:hover{
    color: #00acee;
}
.fa-discord:hover{
    color: #7289da	;
}
.fa-github:hover , .fa-envelope:hover{
    color: #999999;
}
.fa-linkedin:hover{
    color: #0077b5;
}