* {
	box-sizing: border-box;
}

body {
	/* background-image: url("../img/backgroud-car.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; */
	font-family: 'Trebuchet MS', Arial;
	background-color: #212529;
	color: #fff;
}
.profile.img-profile{
	cursor: pointer;
}

.toggle {
	width: 50px;
	height: 50px;
	display: flex;
	background-color: #eee;
	cursor: pointer;
	flex-direction: column;
	justify-content: space-around;
	padding: 8px;
}

.toggle span {
	width: 100%;
	background-color: #777;
	height: 4px;
	transition: 0.6s;
}

.toggle:hover span {
	background-color: #333;
}

.photo {
	width: 100px;
}

.navbar {
	background-color: #1e2125 !important;
	box-shadow: 0 0 0 !important;
}



.container {
	color: #ffffff;
	text-decoration: none;
	/* display: flex; */
	/* flex-wrap: wrap; */
	/* justify-content: center; */
	/* align-items: center; */
	/* transition: 0.5s; */
	min-height: 88vh;
}
h1{
	text-align: center;
	margin: 50px 0;
}
.add-car{
	width: 995px;
	margin: 0 auto;
	height: 600px;
	background-color: #1b1f22;
	border-radius: 10px;
	
}
input:focus{
	border: #eeecec;
	outline: #ccc;
}
.add-car form{
	inset: 3px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-content: center;
	padding: 20px;
}
.add-car .car-info{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 500px;
	gap: 5px;
}
.add-car input{
	/* background-color: ; */
	border: 1px #ccc solid;
	border-radius: 10px;
	height: 40px;
	width: 250px;
	padding: 5px;
	padding-left: 10px;
	
}
.add-car form div:last-child{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.drop-zone{
	margin-top: 60px;
}
.add-car input.btn{
	border: 0;
	margin: 100px auto 0;

}
.add-car textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
	width: 450px;
	height: 400px;
	resize: none;
	background-color: transparent;
	border-radius: 10px;
	color: #ccc;
	margin-top: 15px;
	padding: 20px;
}

/* delete car */

.delete-car{
	background-color: #1b1f22;
	width: 995px;
	margin: 100px auto 200px;
	border-radius: 5px;
}
.delete-car form{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
	height: 150px;
}
.delete-car form input:nth-child(1){
	border: 1px #ccc solid;
	border-radius: 10px;
	height: 40px;
	width: 250px;
	padding: 5px;
	padding-left: 10px;
}


/* photo box */

.photo-box {
	margin-top: -40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;

}

.photo-box img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
	cursor: grab;
}

.photo-box img:hover+div {
	visibility: visible;


}

.photo-box div {
	cursor: pointer;
	transition-duration: 0.2s;
	visibility: hidden;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	color: rgb(238, 238, 238);
	font-size: 30px;
	position: absolute;
	right: 87px;
	bottom: 85px;
	border: rgb(32, 32, 32) solid 2px;
	width: 40px;
	height: 40px;
}

.photo-box h2 {
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 35px;
	text-transform: capitalize;
	/* color: black; */
	/* text-shadow: 1px 1px 3px black; */
}

.info-box {
	padding: 50px;
	width: 450px;
	transition-duration: 1s;
	z-index: 10;
	position: fixed;
	background-color: #1e2125b6;
	border-radius: 3px;
}

.left {
	top: 116px;
	left: -446px;
}

.info-box.right {
	top: 48px;
    right: -445px;
    /* transform: translateX(-100%); */
    height: 753px;

}
.info-box:hover {
	transform: translateX(2%);
	/* transition-delay: 1s; */
	
}
.info-box.right:hover{
	transform: translateX(-2%);

}


/* .info-box:hover{
	transform: translateX(90%);

} */



.info-box .edite {
	display: flex;
	justify-content: center;
	align-content: center;
	gap: 10px;
}

.info-box h3 {
	text-align: center;
	margin-top: 0;
	font-size: 20px;
	/* color: black; */

}

.info-box ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 20px;
}

.info-box li {
	margin-bottom: 10px;
	/* color: black; */
	font-size: 30px;
	font-weight: 300;

}

.info-box li strong {
	display: inline-block;
	width: 100px;
	font-weight: bold;
}

.info-box button {
	display: block;
	margin-top: 30px;
	margin-right: auto;
	background-color: #303e4d;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.info-box button:hover {
	background-color: rgb(17, 17, 17);
}

.info-box input {
	background-color: transparent;
	border: 0 none;
	height: 30px;
	margin: 6px 0;
	font-size: 20px;
	color: rgb(255, 255, 255);
	width: 150px
}

.open-btn {
	position: absolute;
	top: 50%;
	right: -21px;
	margin-top: -25px;
	width: 20px;
	height: 50px;
	border-radius: 5px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	color: white;
	font-size: 25px;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	transition-duration: 1s;
	cursor: pointer;
	/* transform: rotateY(-180deg); */
}
.info-box.right .open-btn{
	left: -21px;
	border-radius: 5px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.fa-caret-right {
	transition-duration: 1s;
	/* transition-delay: 1s; */

}

.name {
	background-color: cadetblue;
	position: fixed;
	margin: 250px;
	top: -54px;
	left: 45px;
	padding: 25px;
	font-size: 26px;
	border-radius: 12px;
	color: antiquewhite;
}

.model {
	color: antiquewhite;
	background-color: cadetblue;
	position: fixed;
	margin: 250px;
	top: 75px;
	left: 45px;
	padding: 25px;
	font-size: 26px;
	border-radius: 12px;
}

.information {
	color: antiquewhite;
	background-color: cadetblue;
	position: fixed;
	margin: 250px;
	top: 75px;
	left: 45px;
	padding: 25px;
	font-size: 26px;
	border-radius: 12px;
	top: -60px;
	margin-left: 661px;
}

.alert{
	width: 995px;
	margin: 60px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.alert i {
	visibility: hidden;
	width: 30px;
	height: 30px;
	
}
.alert:hover i{
	visibility: visible;
	display: flex;
	justify-content: center;
	align-items: center;
}
.alert i:hover{
	cursor: pointer;
	background-color: #e7fff4;
	border-radius: 3px;
}