* {
    margin: 0;
    padding: o;
}

body {
    background-image: url(../img/Gclass.jpg);
    background-size: cover;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 40%;

    margin: 40px 450px auto;
}
/* content-box */
/* content */
.container .content {
    display: grid;
    grid-template-columns: 10;
    grid-template-rows: 10;
    
}

.contact-left {
    flex-basis: 10%;
    padding: 100px 0px;
}

h1 {
    margin-bottom: 0px;
}

.container p {
    margin-bottom: 10px;
}

h1 {
    color: #fff;
}

p {
    color: #fff;
}

.input-group {
    display: block;
    color: #fff;
}

h3 {
    color: #fff;
}

.input-row {
    margin-bottom: 10px;
    margin-left: 50px;
}

.input-group {
    flex-basis: 30%;
}

input {
    width: 30%;
}

input {
    width: 300px;
    border: none;
    border-bottom: 10px solid #ccc;
    outline: none;
    padding-bottom: 10px;
}

textarea {
    width: 100%;
    border: 1px solid #000000;
    outline: none;
    padding: 60px 15px;
    box-sizing: border-box;

}

.massage {
    color: #f1e9e9;
}

.name {
    width: 500px;
}

.subject {
    margin-left: 50px;
    margin-top: 50px;
    padding-right: 100px;
}


.submit {
    background: #977f7f;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgb(125, 112, 134);
}