* {
    margin: 0;
    box-sizing: border-box;
    color: #fff;
}

body {
    background-image: url(../img/Gclass.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

nav {
    width: 50%;
}

.container {
    width: 40%;
    margin: 46px auto 20px;
    width: 50%;
}


/* content */
.container .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
    position: relative;

}

.logo {
    display: flex;
    margin-left: 800px;
    font-size: 30px;
    position: absolute;
    top: 35px;
    right: -92px;
}

input {
    width: 280px;
    height: 40px;
    display: block;
    margin: 20px 0;
    background-color: #514030dd;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 20px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

input:focus {
    background-color: #fffafa00;
    transition-duration: 0.5s;
}

h3 {
    text-align: center;
    padding: 20px;
}

p {
    text-align: center;
    padding: 15px;
}

h1 {
    text-align: center;
}

textarea {
    background-color: #fffafa00;
    font-size: 20px;
    padding: 20px;
    width: 90%;
    height: 250px;
}



.submit {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    background: #977f7f;
    width: 100px;
    padding: 20px;
    color: #fff;
    height: 40px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 3px 15px rgba(125, 112, 134, 0.737);

}

form :last-child {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;

}

.logo i {
    margin: 20px;
}