@font-face {
    font-family: "Audiowide";
    src: url("../fonts/Audiowide-Regular.ttf");
}


body {
    background: url("../img/backgroud-car.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

a {
    color: white;
    text-decoration: none;
}
.navbar{
    background-color: transparent !important;
    box-shadow: 0 0 0 transparent !important;
}

button {
    cursor: pointer;
}

.parent {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.693);
}

.container {
    flex-wrap: wrap;
    margin: auto;
    width: 1038px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-content: start;
}

.search_bar_container {
    display: block;
    text-align: center;
    padding: 20px;
    position: relative;
    gap: 20px;
}

.search_bar {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    height: 25px;
    width: 100%;
    max-width: 620px;
    background: rgba(255,255,255,0.2);
    align-items: center;
    border-radius: 60px;
    padding: 10px 3px;
    backdrop-filter: blur(4px) saturate(5);
}

.search_bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    font-family: 'Arial';
    color: white;
}

.search_bar button {
    border: 0;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    cursor: pointer;
    background: #58629b;
}

.search_bar button img {
    width: 25px;
}

.search_bar ::placeholder {
    color: rgba(255,255,255,0.5);
}

/* ============= Card Temp #1 ============= */

.card {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    display: block;
    justify-content: space-evenly;
    padding: 10px 10px;
    margin: 30px 30px;
    font-family: sans-serif;
}

.card img {
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;
}

.card button {
    width: 100%;
    background: rgba(255,255,255,0.5);
    border: 0;
    outline: none;
    padding: 5px;
}

.product_name {
    font-size: 20px;
    font-weight: bold;
}

.price {
    font-size: 13px;
    font-style: italic;
}

/* ============= Card Temp #2 ============= */

/* .card {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    display: flex;
    width: 1200px;
    border-radius: 10px;
    height: 150px;
    justify-content: space-between;
    font-family: sans-serif;
    overflow: hidden;
    padding: 20px 10px;
}

.card img {
    justify-self: center;
    align-self: center;
    width: max-content;
    height: max-content;
    scale: 2.5;
    padding: 20px;
    -webkit-mask-image: linear-gradient(to right, #000, rgba(0,0,0,0));
    mask-image: linear-gradient(to right, #000, rgba(0,0,0,0));
}

.card button {
    width: 20%;
    background: rgba(255,255,255,0.5);
    border: 0;
    border-radius: 10px;
    outline: none;
}

.captions {
    display: block;
}

.product_name {
    font-size: 40px;
    font-weight: bold;
}

.price {
    font-size: 20px;
    color: rgba(255,255,255,0.8);
    font-style: italic;
} */

/* ////////////////////////////////////// */
.nav-btn{
    color: white;
    position: fixed;
    top: 0px;
    right: 0px;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
    z-index: 4;
    font-family: Arial, Helvetica, sans-serif;
    width: fit-content;
    transform: translateX(100%);
    transition-duration: 0.5s;
}

.nav-btn ul.first{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 0;
    padding: 0;
    background-color: #2f3454;
    height: 100vh;
    width: 70px;
    /* margin-right: 10px; */
    z-index: 5;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}
.nav-btn:hover .first{
    width: 100px;
    transition-delay: 0.5s;

}
.nav-btn ul li{
    margin: 20px 0;
}
.nav-btn ul li:nth-child(1){
    margin-top: 50px;
}
.nav-btn div{
    background-color: #1e2236;
    width: 270px;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 70px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    z-index: 4;
    transform: translateX(100%);
    transition-duration: 0.5s;
}
.nav-btn:hover div{
    transform: translateX(0);
    transition-delay: 1s;


}
.nav-btn div ul {
    list-style: none;
    padding: 0;
}
.nav-btn:hover div ul li:hover{
    color: aquamarine;
}
.nav-btn div ul li {

}
.nav-btn div ul li{
    margin: 30px 0;
    position: relative;
}
.nav-btn div ul li a::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: -5px;
    left: 0px;
    transform: rotateY(90deg);
}

.nav-btn div ul li:hover a::after {
    transform: rotateY(0deg);
    transition-duration: 0.5s;
}
.navbar ul li a.chosen::after {
    content: "";
    background-color: white;
    width: 100%;
    height: 2px;
    position: absolute;
    transform: rotateY(0deg);
    bottom: -5px;
    left: 0;
}

#up-btn{
    background-color: #1e2236;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    position: fixed;
    bottom: 59px;
    right: 144px;
    z-index: 2;
    transform: translateX(400%);
}