@font-face {
    font-family: "Audiowide";
    src: url("../fonts/Audiowide-Regular.ttf");
}

.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.navbar {
    font-family: 'Audiowide', Arial, cursive !important;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    background-color: #161616;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0px 10px 20px #161616;
    z-index: 3;
    /* transition-duration: 0.5s;
    transition-timing-function: ease; */


}
/* nav.scrolled {
    width: 100%;
} */

/* .navbar:hover {
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;

} */

.navbar div {
    width: 650px;
    margin: 0 auto;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    position: relative;
}

.navbar ul li {
    list-style: none;
    margin-top: 35px;
    font-size: 20px;
    font-family: 'Audiowide', Arial, cursive;
    text-transform: capitalize;
}

.navbar ul li a {
    color: white;
    position: relative;
    text-decoration: none;
}

.navbar ul li a::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: -5px;
    left: 0px;
    transform: rotateY(90deg);
}

.navbar ul li:hover a::after {
    transform: rotateY(0deg);
    transition-duration: 0.5s;
}

.navbar ul li a.chosen::after {
    content: "";
    background-color: white;
    width: 100%;
    height: 2px;
    position: absolute;
    transform: rotateY(0deg);
    bottom: -5px;
    left: 0;
}



.bgblack {
    width: 100vw;
    height: 100vh;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
}

.drop-zone {
    animation: drop-zone 0.5s ease 0.2s 1;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
    width: 300px;
    height: 300px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #796048;
    border-radius: 10px;
    z-index: 3;

}

@keyframes drop-zone {
    0% {
        transform: scale(.2);
    }
}

.drop-zone form {
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    border: 4px dashed #514030;
    height: 95%;

}

.drop-zone i {
    display: block;
    font-size: 80px;
}

.drop-zone--over {
    border-style: solid;
}

.drop-zone__input {
    display: none;
}

.drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
}

.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}

#loading {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .spinner {
    border: 4px solid rgba(255, 255, 255, 0.1);
    border-top-color: #db9534;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s infinite linear;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  