body {
	font-family: 'Trebuchet MS', Arial;
	background-color: #212529;
	color: #fff;
}

.navbar {
	background-color: #1e2125 !important;
	box-shadow: 0 0 0 !important;
}
.navbar .profile ul {
	height: 100px;
}
.parent {
	/* background-color: rgba(0, 0, 0, 0.468); */
	min-height: 100vh;
}

.container {
	display: flex;
	min-height: 85vh;
	align-items: center;
	justify-content: center;
}

.photo-box {
	margin-top: -40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.photo-box img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
	cursor: grab;
}

.photo-box img:hover+div {
	visibility: visible;


}

.photo-box div {
	cursor: pointer;
	transition-duration: 0.2s;
	visibility: hidden;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	color: rgb(32, 32, 32);
	font-size: 30px;
	position: absolute;
	right: 102px;
	bottom: 85px;
	border: rgb(32, 32, 32) solid 2px;
	width: 40px;
	height: 40px;
}

.photo-box h2 {
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 25px;
	/* color: black; */
	/* text-shadow: 1px 1px 3px black; */
}

.info-box {
	padding: 50px;
	width: 450px;
	background-color: #1b1f22;
	border-radius: 10px;
	margin: 20px 0;
	padding-top: 50px;
}

.info-box .edite {
	display: flex;
	justify-content: center;
	align-content: center;
	gap: 10px;
}

.info-box h3 {
	text-align: center;
	margin-top: 0;
	font-size: 15px;
	/* color: black; */

}

.info-box ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.info-box li {
	margin-bottom: 15px;
	/* color: black; */
	font-size: 25px;
	font-weight: 300;

}

.info-box li strong {
	display: inline-block;
	width: 100px;
	font-weight: bold;
}

/* .info-box button {
	display: block;
	margin-top: 30px;
	margin-right: auto;
	background-color: #303e4d;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s;
} */

/* .info-box button:hover {
	background-color: rgb(17, 17, 17);
} */

input {
	background-color: transparent;
	border: 0 none;
	height: 30px;
	margin: 6px 0;
	font-size: 20px;
	color: white;
	width: 150px
}